@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1625820606102') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 34px;
  font-style: normal;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youxiang:before {
  content: "\e681";
}

.icon-mima:before {
  content: "\e682";
}

